<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Greg</h2>
                    <!--- <h3 class="section-subheading text-muted">Below are some of my many passions!</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Photographer</h4>
                    <p class="text-muted">I love both taking photographs as well as looking at the works of others. I shoot in both analog and digital. In high school I developed a passion for film photography using Brownie cameras. I picked up a few from eBay and antique stores and restored them to like-new condition. I have taken some of my favorite photos on my Brownie Hawkeye.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Enthusiast</h4>
                    <p class="text-muted">Ever since I broke my first computer at the ripe age of seven, my passion to fix them has grown. A natural-born tinkerer, I enjoy learning about how things work as well as finding new and creative ways for technology to solve problems. My IT career began in middle school when I would stay after school to repair iBook G3s that were constantly battered by my peers and it has only grown from there. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-anchor fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SCUBA Diver</h4>
                    <p class="text-muted">I have been diving for almost as long as I can remember - probably since I was 10 years old. I love SCUBA diving because it is such a freeing experience; it's just you and the rest of the ocean. When I'm on a scooter, it's the closest I've come to flying. My favorite type of diving is wreck diving where you can see how nature has taken over a piece of history. I hold multiple certifications with PADI including Advanced Open Water, Enriched Air Diving, and Underwater Photography. </p>
                </div>
            </div>
        </div>
    </section>