<!-- About Section -->
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">Below is a history of my life and work history.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sf.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 1991</h4>
                                    <h4 class="subheading">Greg is born!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born in San Francisco in June of 1991.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/varsity.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2011 - May 2015</h4>
                                    <h4 class="subheading">Worked at Varsity Technologies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During my tenure at Varsity, I grew from an IT intern doing basic desktop support to a Project Engineer in charge of large system and network deployments.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wpi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2014</h4>
                                    <h4 class="subheading">Graduated with a B.S. from Worcester Polytechnic Institute</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For my undergraduate degree, I studied Management Information Systems and graduated with distinction.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wpi.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Graduated with an M.S. from Worcester Polytechnic Institue</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For my graduate degree, I studied Management and completed this program in just one year.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/echo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">Started work at ECHO Technology Solutions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After graduation, I joined ECHO as a Service Desk Engineer, Tier II.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/echo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Promoted to Systems Engineer at ECHO Technology Solutions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After my one year mark at ECHO where I have been able to demonstrate and improve my technical and consulting skills, I was promoted to Systems Engineer.</p>
                                </div>
                            </div>
                        </li>
                       
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>